User verification - phone number (can't change after otp verification and can be removed by admin) with otp verification (https://portal.sms.net.bd/) fullname father name mother name age gender address 1st step cant order without, 2nd step dropdown for nid or passport, 3rd step face verification + picture, 4th step work information (Reseller verification).
Entire module is togglable.

each step is independdent and user is not required to complete them. create veification page link in
