APP_NAME=RRRBAZAR
DB_HOST=localhost
DB_NAME=rrrbazar
DB_USER=root
DB_PASSWORD=
PORT=3005
PUBLIC_URL=localhost:3005
JWT_SECRET=fhxnsjz7z8s9w90sjxmaiowduyxxy
AUTO_MIGRATION=OFF
GOOGLE_OAUTH_CLIENT_ID=29384788375-h1178f10ugp5ir7o7n1th0c7ber3h71v.apps.googleusercontent.com

SMS_USERNAME=xxxx
SMS_PASSWORD=XXXXXXX
SMS_HASH_TOKEN=xxxxx
